__MAIN_FILE.fls
__MAIN_FILE.pdf
__MAIN_FILE.synctex.gz
helper.ipynb
helper.py
P_EL2_Versuch_3_bugfix.pdf
P_EL2_Versuch_3.pdf
.aux/__MAIN_FILE.aux
.aux/__MAIN_FILE.bbl
.aux/__MAIN_FILE.bcf
.aux/__MAIN_FILE.blg
.aux/__MAIN_FILE.fdb_latexmk
.aux/__MAIN_FILE.fls
.aux/__MAIN_FILE.lof
.aux/__MAIN_FILE.log
.aux/__MAIN_FILE.lot
.aux/__MAIN_FILE.run.xml
.aux/__MAIN_FILE.toc
.aux/chapters/1_chap.aux
.aux/chapters/2_chap.aux
.aux/chapters/3_chap.aux
.vscode/ltex.dictionary.de-DE.txt
.vscode/settings.json
abgegeben/EL2_V3_Hunter_Unlu.pdf
